body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17 ;
    background: rgb(red, green, blue)
}
body {
    background-color: rgb(218, 181, 161);
}

h1 {
    text-align: center;
    color:black;
}
p  {
    font-size: 18px;
    text-indent: 10px;
    text-align-last: auto;

}
img{
    display:block;
    margin:auto;
    }